.pr {
    margin-top: 10%;
}

.projct_fr_mob {
    /* border: 2px solid black; */
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center !important;
}

.projct_fr_mob img {
    height: 300px;
    width: 250px;
}

.man_div {
    width: 75%;
}

.sub_projct {
    /* border: 2px solid black; */
    border-radius: 50px;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    display: flex;
    border-radius: 1rem;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 250px !important;
    /* padding: 8px 8px 4px 8px; */
}

#projct2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.projct_info {
    /* border: 2px solid black; */
    text-align: center;
    border-radius: 1rem;
    padding: 4px;
    margin: 4px;
    width: 250px;
    /* background-color: #e9ecef;; */
}

.sub-link {
    width: 20px;
    position: absolute;
    height: 20px;
    top: 82%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.sub-link img {
    width: 20px;
    height: 20px;
}